node_modules
dist
fabric/multihost-setup/crypto-config/*
!fabric/multihost-setup/crypto-config/.gitkeep
fabric/multihost-setup/channel-artifacts/*
!fabric/multihost-setup/channel-artifacts/.gitkeep
fabric/network/channel-artifacts/*
!fabric/network/channel-artifacts/.gitkeep
fabric/network/crypto-config/*
!fabric/network/crypto-config/.gitkeep